html, body{
    height: 100%;
    width: 100%;
}
.pink{
    background-color: plum;
    color: blueviolet;
}
.red{
    background-color: red;
    color: white;
}
.text-dark{
    color: black;
}
.text-white{
    color: bisque;
}